<!--<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<div ng-controller="eventsNavCtrl" class="events-options" style="top:53px;width:100%;">
	<div class="row">
		<div class="col-sm-4 col-xs-12">

			<div class="form-group">
				
				<select class="select-event" ng-model="selectedOption" ng-options="event as event.name for event in EventArr"  ng-change="update()" value="{{event.slug}}">
					

				</select>

		
			</div>

		</div>

		
		<div  class="col-sm-5 col-xs-8 no-border-a no-padding">
			<nav id="cl-effect-3" class="high-sch-menu links cl-effect-3">
						<a  ng-class="highlightsUrlactive" href="{{highlightsUrl}}" >

							Highlights
						</a>
						<a ng-class="ScheduleUrlactive" href="{{scheduleUrl}}" >
							Schedule
						</a>
						
						
			</nav>
		</div>
	
		<div class="col-sm-3 col-xs-4">

	
			     <a ng-hide="!ticket_price" class="btn btn-wide btn-o btn-info pull-right cart-button" ng-click="proceedPayment()"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Buy Ticket (Rs. {{ticket_price}})</a>

		</div>

		
	</div>
</div>-->
